.basic-details-form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 32rem;
}
.basic-details-form div{
    align-self: flex-start !important;
}
.basic-details-form label::before{
    content: "*" !important;
    line-height: 1;
    vertical-align: top;
    position: relative;
    left: -0.1rem;
    color: red;

    
}