.input-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}
.input-field input{
    width: 90%;
    border-radius: 2px;
    border: 2px solid #000;
    padding: .2rem;
    background-color: #fff;
    color: #000;

}
.input-field input::placeholder{
    color: rgb(99, 89, 89);
}
.success{
    border: 2px solid #85EF47 !important;
    outline: none !important;

}
.danger{
    border: 2px solid #FF6138 !important;
    outline: none !important;
}

input:onFocus{
        outline: none !important;
        box-shadow: none!important;
}
